<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="img-fluid" src="/images/favicon.png" alt="logo-img"
                width="20px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="/recipe">Home</a>
                <a class="nav-link" href="/recipe/show">Recipes</a>
                <a class="nav-link" href="/recipe/new">New Recipe</a>
                <a class="nav-link" href="#">Chef Favorite</a>

            </div>

        </div>

        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="ms-2 me-1">
            <a class="text-decoration-none btn btn-outline-success" href="/user/login">Login</a>
            <a class="text-decoration-none btn btn-outline-success " href="/user/register">Sign
                Up</a>
            <a class="text-decoration-none  btn btn-outline-success" href="/user/logout">Logout</a>
        </div>

    </div>
</nav>