<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img class="img-fluid" src="/images/favicon.png" alt="logo-img"
                width="20px"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="/recipe">Home</a>
                <a class="nav-link" href="/recipe/show">Recipes</a>
                <a class="nav-link" href="/recipe/new">New Recipe</a>
                <a class="nav-link" href="#">Chef Favorite</a>

            </div>

        </div>

        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <% if(loggedInUser) {%>
            <div class="navbar-nav mx-2">
                <span class="user-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="30" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg>
                </span>
                <span class=" text-center" style="color: #3BB813;">
                    <%=loggedInUser.username %>
                </span>
            </div>
            <% } %>
                <div class="ms-2 me-1">
                    <% if(!loggedInUser){ %>
                        <a class="text-decoration-none btn btn-outline-success" href="/user/login">Login</a>
                        <a class="text-decoration-none btn btn-outline-success " href="/user/register">Sign
                            Up</a>
                        <% } else{%>

                            <a class="text-decoration-none  btn btn-outline-success" href="/user/logout">Logout</a>
                            <% } %>
                </div>

    </div>
</nav>