<% layout('layouts/boilerplate') -%>
    <div class="container mx-auto not-found">
        <div class="d-flex justify-content-center flex-column align-items-center">
            <img class="img-fluid object-fit-fill mb-5" src="/images/undraw_page-not-found.svg"
                alt="404 page not found">
            <p class="lead">Page not found</p>
            <button class="btn btn-primary shadow " style="background-color: lightgrey; border-color:lightgray"><a
                    class="text-decoration-none text-dark" href="/recipe">
                    Go Home
                </a></button>
        </div>


    </div>