<!-- home page -->
<% layout('layouts/boilerplate') -%>
    <div class="container">
        <section>


            <div class="row gx-5 mb-3">
                <div class="col">
                    <img class="img-fluid rounded main-img w-auto" src="/images/pizza.jpg" alt="">
                </div>
                <div class="col text-center ">
                    <div class="mb-3">
                        <h1 class="display-2">Classic Margherita Pizza</h1>
                        <p class="lead">The Margherita pizza is a light and flavorful dish, focusing on the pure essence
                            of
                            its core ingredients rather than an abundance of toppings. It is a symbol of Italian
                            culinary
                            artistry, emphasizing that less is often more. The resulting flavor profile balances the
                            sweetness of the tomatoes, the creamy richness of the mozzarella, and the aromatic freshness
                            of
                            the basil.</p>
                    </div>

                    <div class="mb-3">
                        <span class="badge rounded-pill  pill-color p-2 m-2 fs-6">Total Time:<span
                                class="text-dark fw-light mx-1">1 hr 30 min</span> </span>
                        <span class="badge rounded-pill  pill-color p-2 m-2 fs-6">Servings:<span
                                class="text-dark fw-light mx-1"> 2 (two 12-inch pizzas)</span></span>
                        <span class="badge rounded-pill  pill-color p-2 m-2 fs-6">Difficulty:<span
                                class="text-dark fw-light mx-1">Intermediate</span> </span>
                    </div>
                    <div class="d-flex flex-row justify-content-evenly  align-items-center">
                        <img class="img-fluid rounded-circle" src="https://xsgames.co/randomusers/avatar.php?g=female"
                            alt="profile-img" width="80px">
                        <div class="d-flex flex-column m-4">
                            <h5 class="h5">Floria Nelson</h5>
                            <span class="text-muted">author,chef</span>
                        </div>
                        <div>
                            <fieldset class="starability-basic">
                                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                                    aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="rating" value="1" checked />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="rating" value="2" checked />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="rating" value="3" checked />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="rating" value="4" checked />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="rating" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>
                        </div>
                    </div>
                    <div>
                        <button
                            class="btn btn-primary-custom btn-elevated px-4 py-3 m-2 fs-4 fw-medium rounded-pill">Discover
                            more</button>
                    </div>

                </div>
            </div>
        </section>
        <section>
            <div class="row explore-section mb-5 py-4 rounded gx-5">
                <div class="row mb-4">
                    <h2 class="display-3 text-center">Explore How Our<br> Recipe Works </h2>
                </div>
                <div class="row">
                    <div class="col">
                        <img  class="img-fluid rounded w-75 elevated-img" src="/images/chef-recipe.jpg" alt="chef searching for Recipe" >
                        <h3 class="display-4 ">01</h3>
                        <h3 class="text-dark display-6">Find Recipes</h3>
                        <p class="lead text-muted fs-6">choose from a wide range of recipes for all preferences and diets</p>
                    </div>
                    <div class="col">
                        <h3 class="display-4 ">02</h3>
                        <h3 class="text-dark display-6">Order ingredients online</h3>
                        <p class="lead text-muted fs-6">Partner supermarket supply the ingredients for the chosen recipes at no extra cost</p>
                        <img  class="img-fluid rounded w-75 elevated-img" src="/images/chef-prep.jpg" alt="chef searching for Recipe" >
                    </div>
                    <div class="col">
                        <img  class="img-fluid rounded w-75 elevated-img" src="/images/chef-recipe.jpg" alt="chef searching for Recipe" >
                        <h3 class="display-4 ">03</h3>
                        <h3 class="text-dark display-6">Cooking and enjoying</h3>
                        <p class="lead text-muted fs-6">Recreate recipes with simple step-by-step instructions</p>
                    </div>
                </div>
            </div>
        </section>

    </div>