<!-- home page -->
<% layout('layouts/boilerplate') -%>
 <div class="container">
    <div class="row gx-5">
        <div class="col">
            <img class="img-fluid rounded main-img w-auto" src="/images/pizza.jpg" alt="">
        </div>
        <div class="col text-center ">
            <div class="mb-3">
                <h1 class="display-2">Classic Margherita Pizza</h1>
            <p class="lead">The Margherita pizza is a light and flavorful dish, focusing on the pure essence of its core ingredients rather than an abundance of toppings. It is a symbol of Italian culinary artistry, emphasizing that less is often more. The resulting flavor profile balances the sweetness of the tomatoes, the creamy richness of the mozzarella, and the aromatic freshness of the basil.</p>
            </div>
            
            <div class="mb-3">
                <span class="badge rounded-pill  pill-color p-2 m-2">Total Time: 1 hr 30 min</span>
                <span class="badge rounded-pill  pill-color p-2 m-2">Servings: 2 (two 12-inch pizzas)</span>
                <span class="badge rounded-pill  pill-color p-2 m-2">Difficulty: Intermediate</span>
            </div>
            <div >
                 <button class="btn btn-primary-custom btn-elevated px-4 py-3 m-2 fs-4 fw-medium rounded-pill">Discover more</button>
            </div>
           
        </div>
    </div>
</div>
 