<!-- home page -->
<% layout('layouts/boilerplate') -%>
 <div class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <h1 class="mb-4">Discover Delicious Recipes</h1>
            <p>Welcome to RecipeShare! Share, save, and cook amazing meals.</p>
            
        
    </div>
</div>
 