<!-- user enter there recipe -->
<% layout('layouts/boilerplate') -%>
    <div class="container">
        <h1 class="display-2 text-center">Submit your recipe</h1>
        <form class="needs-validation" action="/recipe/new" method="POST" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" aria-describedby="title" name="title"
                    placeholder="enter recipe title" required>
            </div>
            <div class="mb-3">
                <label for="author" class="form-label">Author name</label>
                <input type="text" class="form-control" id="author" aria-describedby="author" name="author"
                    placeholder="author name" required>
            </div>
            <div class="mb-3">
                <label for="time" class="form-label">Total Time </label>
                <input type="text" class="form-control" id="time" aria-describedby="time" name="totalTime"
                    placeholder="eg: 1hr 20 mins" required>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image Url </label>
                <input type="text" class="form-control" id="image" aria-describedby="image" name="image"
                    placeholder="Enter image url" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" aria-describedby="description" name="description"
                    placeholder="description" rows="5" required></textarea>
            </div>
            <div class="mb-3">
                <label for="ingredients" class="form-label">Ingredients</label>
                <textarea class="form-control" id="ingredients" aria-describedby="ingredients" name="ingredients"
                    placeholder="one ingredient per line
                                    e.g.
                                    400 g chicken breast
                                    2 tbsp olive oil
                                    1 tsp paprika" rows="5" required></textarea>

            </div>

            <div class="mb-3">
                <label for="steps" class="form-label">Cooking Steps</label>
                <textarea class="form-control" id="steps" aria-describedby="ingredients" name="steps" placeholder="one step per line
                                e.g.
                                Cut chicken into bite size pieces
                                Heat oil in pan" rows="6" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="/scripts/form-validation.js" defer></script>